<launch>
    <arg name="ns" default="robot1"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find unity_ros)/rviz/testing.rviz">
        <remap from="clicked_point" to="$(arg ns)/clicked_point"/>
        <remap from="initialpose"   to="$(arg ns)/initialpose"/>
        <remap from="move_base_simple/goal" to="$(arg ns)/move_base_simple/goal"/>
     </node>
</launch>
