<launch>
    <!-- set up args -->
    <arg name="port" default="9090" />
    <arg name="port2" default="9091" />
    <arg name="map_file" default="$(find unity_ros)/maps/SpaceStation6.yaml" />
    <arg name="use_rviz" default="True" />
    <arg name="use_gazebo" default="True" />

    <!-- start the websocket connection -->

    <include ns="robot1" file = "$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <arg name="port" value="$(arg port)"/>
    </include>

    <include ns="robot2" file = "$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <arg name="port" value="$(arg port2)"/>
    </include>)

    <!-- start gazebo -->
    <group if="$(arg use_gazebo)">
        <include file = "$(find pr2_gazebo)/launch/pr2_empty_world.launch" >
            <arg name="gui" value="true"/>
        </include>
    </group>

    <!-- load the map file -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>

    <!-- start the 2d navigation -->
    <include file = "$(find pr2_2dnav)/launch/pr2_2dnav.launch" output="screen" ns="robot1" />
    <include file = "$(find pr2_2dnav)/launch/pr2_2dnav.launch" output="screen" ns="robot2" />

    <group if="$(arg use_rviz)">
        <include file = "$(find pr2_navigation_global)/rviz/rviz_move_base.launch" output="screen" />
    </group>
</launch>

