<launch>
    <!-- set up args -->
    <arg name="port" default="9090" />
    <arg name="port2" default="9091" />
    <arg name="map_file" default="$(find unity_ros)/maps/SpaceStation6.yaml" />
    <arg name="use_rviz" default="True" />
    <arg name="use_gazebo" default="True" />
    <arg name="model" default="$(find pr2_description)/robots/pr2.urdf.xacro"/>


    <param ns="robot1" name="robot_description"  command="$(find xacro)/xacro.py $(arg model)"/>
    <param ns="robot2" name="robot_description"  command="$(find xacro)/xacro.py $(arg model)"/>
    <!-- start the websocket connection -->

    <group ns="robot1">
    <param name="tf_prefix" value="robot1"/>
    <include file = "$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <arg name="port" value="$(arg port)"/>
    </include>
    <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
    <param name="use_sim_time" type="boolean" value="True" />
    </group>

    <group ns="robot2">
    <param name="tf_prefix" value="robot2"/>
    <include ns="robot2" file = "$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <arg name="port" value="$(arg port2)"/>
    </include>
    <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
    <param name="use_sim_time" type="boolean" value="True" />
    </group>

    <!-- start gazebo -->
    <group if="$(arg use_gazebo)">
        <include file = "$(find pr2_gazebo)/launch/pr2_empty_world.launch" >
            <arg name="gui" value="true"/>
        </include>
    </group>
va.lang.RuntimeException: org.apache.xmlrpc.XmlRpcException: requestTopic: unknown method name

    <!-- load the map file -->
    <node ns="robot1" name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>
    <node ns="robot2" name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>

    <!-- start the 2d navigation -->
    <include file = "$(find pr2_2dnav)/launch/pr2_2dnav.launch"  ns="robot1" />
    <include file = "$(find pr2_2dnav)/launch/pr2_2dnav.launch" ns="robot2" />

    <group if="$(arg use_rviz)">
        <include file = "$(find pr2_navigation_global)/rviz/rviz_move_base.launch" />
    </group>
</launch>

